langchain
langchain-community
langchain-text-splitters
pypdf
langchain-ollama
python-dotenv
pinecone
langchain-groq
fastapi[standard]
mcp[cli]
httpx
langgraph
ollama
langchain-openrouter
instructor
supabase
python-multipart
pytest==9.1.1
pytest-asyncio==1.4.0
streamlit
requests
google-genai
pytest-mock==3.15.1
pyjwt
langgraph-checkpoint-postgres==3.1.2
psycopg==3.3.4
psycopg-pool==3.3.1
